<% if current_user %>
  <body>
    <div class="row">
      <div class="col s6">
        <div class="card blue-grey lighten-4">  <!-- create the card -->
          <div class="card-image">              <!-- card image -->
            <img src="<%= @chef.image %>" style="height:470px;" >      <!-- img -->
          </div>
          <div class="card-content">            <!-- card text -->
            <p style="color:red;">&#10084; <%= @chef.favorite_chefs.count%></p>
          </div>
        </div>
        <div class="col s12">
          <div class="collection-item" style="color: grey"><% @chef.chef_comments.reverse.each do |comment| %>
            <div class="collection">
            <h4><%= comment.user.name %>:</h4>
              <p><%= comment.comment %></p>
              </div>
          <% end %></div>
          </div>
      </div>


      <div class="collection">
        <div class="col s12">
        <div class="collection-item" style="color: "><h4><%= @chef.name %></h4></div>
        <div class="collection-item" style="color: ">Bio: <%= @chef.bio %></div>
        <div class="collection-item" style="color: ">Years in Industry: <%= @chef.experience %></div>
        <a href="<%=restaurant_path(@restaurant)%>" class="collection-item">Restaurant: <%= @chef.restaurant.name %></a>
        <div class="row">
          <form class="col s12">
            <div class="row">
                <div style="padding: 20px;">
                  <div style="display:none;">
                    <%= form_for @chef_comment, controller: "chef_comments", action: "create" do |f| %>
                      <%= f.text_area :comment, size: "60x12" %>
                      <%= f.hidden_field :chef_id, :value => @chef.id %>
                      <p><%= f.submit "Submit" %></p>
                    <% end %>
                  </div>
                  <%= form_for @chef_comment, controller: "chef_comments", action: "create" do |f| %>
                    <%= f.text_area :comment, size: "60x12" %>
                    <%= f.hidden_field :chef_id, :value => @chef.id %>
                    <p><%= f.submit "Comment" %></p>

                  <% end %>
                </div>

                <div style="padding: 20px;">
                  <div style="display:none;"><%= button_to("Add To Favorites", controller: "favorite_chefs", action: "create", chef_id: @chef.id) %></div>
                  <% if FavoriteChef.exists?(user_id: current_user.id, chef_id: @chef.id)%>
                    <button type="button" disabled>Add To Favorites</button>
                    <p>Added To Favorites</p>
                  <% else %>
                    <%= button_to("Add To Favorites", controller: "favorite_chefs", action: "create", chef_id: @chef.id) %>
                  <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

    <% else %>

    <h6> It looks like you arent signed in. Please <%= link_to "Login", login_path %> to proceed!</h6>

    <p>Don't have an accout? <%= link_to "Sign Up", new_user_path %></p>

    <% end %>
