<h1 style="font-weight: 200;">Update Form:</h1>

<div style="max-width: 400px;">
<%=form_for(@user) do |f|%>

  <%= f.label :name %><%= f.text_field :name %>
  <%= f.label :username %><%= f.text_field :username %>
  <%= f.label :password %><%= f.password_field :password %>
  <%= f.label :image %><%= f.text_field :image %>

<%= f.submit "update" %>
<% end %>
</div>
